
      .image-con {
        position: relative;
        /* width: 50%; */
       }
      
      .rounded {
        opacity: 1;
        display: block;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      
      .overlay {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 40%;
        /* right: 0%; */
        /* text-align: left; */
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%)
      }
      
      .image-con:hover .rounded {
        opacity: 0.3;
      }
      
      .image-con:hover .overlay {
        opacity: 1;
      }
      
      .text {
        color: black;
        font-size: 16px;
        padding: 16px 32px;
      }
      .textku {
        color: rgb(255, 255, 255);
        text-indent: 30px;
        /* text-transform: uppercase; */
      }
      .service-card {
        background: linear-gradient(135deg, #282c3c 0%, #3e414b 100%);
        border-left: 4px solid #4f46e5;
        transition: all 0.3s ease;
      }      